<nav class="navbar">
  <a href="#" class="logo"><%= image_tag('logo.jpg', style: 'height: 40px; width: 80px; margin: 5px;') %></a>
  <div class="nav-links">
    <ul>
      <li><a href="#" id="tash">TASH</a></li>
      <li><a href="#">COLLECTIONS</a></li>
      <li><a href="#">TOUS LES PRODUITS</a></li>
      <li><a href="#">CREATEURS</a></li>
      <li><a href="#">BLOG</a></li>
    </ul>
  </div>
  <img src="https://res.cloudinary.com/duoy5yel9/image/upload/v1683806071/croix-icone.png" alt="Hamburger icone" class="menu-hamburger" onclick="changerImage()">
</nav>
